<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendKeysTest.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SendKeysTest.WolfSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SendKeysTest.Se" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SendKeysTest.AppSettings>
            <setting name="LowerColor" serializeAs="String">
                <value />
            </setting>
            <setting name="UpperColor" serializeAs="String">
                <value />
            </setting>
        </SendKeysTest.AppSettings>
        <SendKeysTest.WolfSettings>
            <setting name="SweepIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UpDurationMs" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DownDurationMs" serializeAs="String">
                <value>653</value>
            </setting>
            <setting name="LowerColor" serializeAs="String">
                <value />
            </setting>
            <setting name="UpperColor" serializeAs="String">
                <value />
            </setting>
        </SendKeysTest.WolfSettings>
        <SendKeysTest.Se>
            <setting name="SwapIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
        </SendKeysTest.Se>
    </userSettings>
</configuration>